body {
    background-color: black;
}

#Ravenclaw {
    background-color: rgb(5, 5, 158);
}

#Gryffindor {
    background-color: #a31a04;
}

#Slytherin {
    background-color: rgb(3, 70, 3);
}

#Hufflepuff {
    background-color: goldenrod;
}