body {
    background-color: black;
    margin: 20px;
}

.Ravenclaw {
    background-color: rgb(5, 5, 158);
}

.Gryffindor {
    background-color: #a31a04;
}

.Slytherin {
    background-color: rgb(3, 70, 3);
}

.Hufflepuff {
    background-color: goldenrod;
}

.hide {
    display: none;
}


.newStudentForm {
    background-color: white;
    width: 50vw;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    border: solid goldenrod 5px;
}
